/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
}
/* Main Style */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.7rem;
}

p {
  /* margin-top: 10px;
      margin-bottom: 10px; */
  margin: 10px 0;
}
/* uitlity classes */
.clr {
  clear: both;
}
#navbar .logo {
  padding-top: 20px;
  float: left;
}
#navbar ul {
  float: right;
}
#navbar ul li {
  /* display: inline; */
  float: left;
}
#navbar ul li a {
  display: block;
  padding: 20px;
}

#navbar {
  display: block;
}
h2 {
  color: #1e81b0;
}
#contact-info h3 {
  text-decoration: underline;
}
#contact-info .container {
  width: 1100px;
  margin: auto;
}
#contact-info .container div {
  display: inline-block;
  padding: 45px;
  float: right;
}
h3 {
  color: blueviolet;
}
#navbar .logo {
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  font-size: 50px;
  padding-bottom: 30px;
}
#contact-form p {
  font-size: 20px;
  text-decoration: underline;
}
